.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px 20px;
  grid-auto-flow: dense;
  align-items: stretch;
  width: 100%;
}

.cards {
  position: relative;
}

.cards-1 {
  grid-row: span 1;
}

.cards-2 {
  grid-row: span 2;
}

.cards-3 {
  grid-row: span 3;
}

.cards-4 {
  grid-row: span 4;
}

.cards-5 {
  grid-row: span 5;
}

.card-1 {
  width: 355px;
  height: 260px;
}

.card-2 {
  width: 355px;
  height: 520px;
}

.card-3 {
  width: 355px;
  height: 780px;
}

.card-4 {
  width: 355px;
  height: 1040px;
}

.card-5 {
  width: 355px;
  height: 1300px;
}
